<section id="news-events" class="gray-line-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="main" role="main">
            <ul id="tiles">
              <!-- These are our grid blocks -->
              <li><img src="assets/img/news/image_1.jpg" width="200" height="283" />
                  <h4>Painting themed Cake</h4>
                      <p>Baking is like painting or writing a song. Just as there are only so many notes or colors... </p>
                      <a href="#" data-toggle="modal" data-target="#myModal">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_2.jpg" width="200" height="300"/>
              <h4>Kit Kat Cake</h4>
              <p>Homemade Ultimate Chocolate Kit Kat Strawberry Cake...</p>
              <a href="#" data-toggle="modal" data-target="#myModal2">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_3.jpg" width="200" height="252"/>
              <h4>Twins themed Cake</h4>
              <p>Small description text Life happens, and our goal is to make sure it is accompanied by delicious.</p>
              <a href="#" data-toggle="modal" data-target="#myModal">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_4.jpg" width="200" height="158"/>
              <h4>Archery Cake</h4>
              <p>Small description text Life happens, and our goal is to make sure it is accompanied by delicious.</p>
              <a href="#" data-toggle="modal" data-target="#myModal">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/event04.jpg">
                  <h4>Chocolate Belgian Buttercream Cake</h4>
                      <p>chocolate cake with Belgian Buttercream frosting, covered with vanilla Buttercream frosting & decorated with the
                                         3 spring flowers</p>
                      <a href="#" data-toggle="modal" data-target="#myModal1">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/crown01_event.jpg" alt="crown" width="200" height="297"/>
              <h4>Vintage Crown Royal Cake</h4>
              <p>Homemade Ultimate Vanilla Cake flavor filled with lavender butter-cream & strawberry‬lavender compote...
              <!--, frosted with lavender butter-cream & decorated with fondant.-->
              </p>
              <a href="#" data-toggle="modal" data-target="#myModal9">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_7.jpg" width="200" height="200"/>
              <h4>Anniversary Cake</h4>
              <p> One 4-layer Strawberries Red velvet Cake, super-moist and decadent redvelvet cake...</p>
                   <a href="#" data-toggle="modal" data-target="#myModal10">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_8.jpg" width="200" height="200"/>
              <h4>Painting themed Cake</h4>
              <p>Baking is like painting or writing a song. Just as there are only so many notes or colors... </p>
              <p>
                           <!--, satiny smooth, velvety, not super sweet, and just plain luxurious. 
                   Allow me to introduce to you my Swiss Butter_cream on the painting themed rainbow cake smile emoticon.
                   -->
                   </p>
              <a href="#" data-toggle="modal" data-target="#myModal8">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/WeloveUcake.jpg" width="200" height="200"/>
              <h4>Father's Day Cake</h4>
              <p>A day of the year on which we celebrate and particularly honour our dads.</p>
              <a href="#" data-toggle="modal" data-target="#myModal7">read more <i class="fa fa-at"></i></a>
              </li>
              <li><img src="assets/img/news/image_10.jpg" width="200" height="267"/>
              <h4>Princess Castle birthday Cake </h4>
              <p>Custome royal princess castle 4th birthday cake theme</p>
              <a href="#" data-toggle="modal" data-target="#myModal6">read more <i class="fa fa-at"></i></a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- End #news-events -->
     
    <section id="product-scroll">
    <div class="scroll-down">
      <a href="#"><i class="fa 3x fa-sort-desc"></i>
      <br/>Scroll Down</a>
    </div>
    </section> 
    <!-- End #ScrollDown -->
   <!-- Modal painting1 -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Painting themed Cake</h4>
                                <p>Baking‬ is like ‪‎painting‬ or writing a ‪song‬. Just as there are only so many notes or colors, 
                                  there are only so many ‪flavors‬ - it's how you combine them that sets you apart.</p>
                                  <p> Serves for 50 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/painting 01.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 375</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal --> 
  
  
  <!-- Castle Model -->
    <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Princess Castle Birthday Cake</h4>
                                <p>Once upon a time, custom royal princess castle 4th birthday cake</p>
                                  <p> Serves for 60 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/Castle 01.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 375</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
  
          <!-- /Modal --> 
  
  
  <!-- Modal painting 2 -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Rainbow Painting themed Cake</h4>
                                <p>Buttercream‬ is the most popular type of ‪frosting‬ for ‪cakes‬ and cupcakes‬. And It can only be described as ‪light‬, 
                                   satiny smooth, ‎velvety‬, not super sweet, and just plain ‪luxurious‬. 
                                  Allow me to introduce to you ‪my‬ ‪swiss‬ buttercream on the ‪painting‬ ‪themed‬ ‎rainbow‬ ‪‎cake‬ :) </p>
                                  <p> Serves for 30 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/painting 02.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 210</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal --> 
     
  
     <!-- Modal Crown 1 -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Vintage Crown Themed Cake</h4>
                                <p>Buttercream‬ is the most popular type of ‪frosting‬ for ‪cakes‬ and cupcakes‬. And It can only be described as ‪light‬, 
                                   satiny smooth, ‎velvety‬, not super sweet, and just plain ‪luxurious‬. 
                                  Allow me to introduce to you ‪my‬ ‪swiss‬ buttercream on the ‪painting‬ ‪themed‬ ‎rainbow‬ ‪‎cake‬ :) </p>
                                  <p> Serves for 25 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/crown 02.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 210</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal --> 
     
  
      <!-- Modal Kitkat 1 -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Kit Kat Cake</h4>
                                <p>One 2-Layer of Chocolate Cake, filled with soft creamy chocolate & strawberries, 
                                covered with Kit Kat fingers & decorated with strawberries on the top </p>
                                  <p> Serves for 15 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/KitKat01.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 90</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal --> 
  
              <!-- Modal Anniversary Redvelvet 1 -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Anniversary Redvelvet Cake</h4>
                                <p>  One 4-layer (4 thin cake layers + 3 thin filling layers) round cake. Super-moist and decadent redvelvet cake filled cream cheese with ‪strawberries‬,
                                   covered with ‪fluffy‬ ‪chocolate‬ frosting, topped and decorated with blue marshmallow fondant. </p>
                                  <p> Serves for 15-18 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/AnniRedvelvetCake_.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 125</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal -->
        
  
   <!-- Modal Fathers day  -->
            <div id="passion-modal" class="single-product">
              <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body passion-modal">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle min-height350">
                                <h4>Cherry Almond Cake</h4>
                                <p>  One 3-layey almond cherry cake. Super-moist filled with cream cheese and fresh cherries‬,
                                   covered with ‪fluffy‬ ‪ceam cheese‬ frosting, decorated with lovely chocolate characters for father's day. </p>
                                  <p> Serves for 20 persons.</p>
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->           
                        </div>
                        <div class="col-lg-5  col-md-6 margin-top30">
                            <!-- Start border#1 style -->
                            <div class="border-style">
                              <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                              <div class="middle-left"></div><div class="middle-middle">
                                <img src="assets/img/WeloveuCake 02.jpg" alt="img11"/>
  
                              </div><div class="middle-right"></div>
                              <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
                            </div>
                            <!-- <div class="border-footer"></div>               -->
                            <!-- End border#1 style -->            
                        </div>          
                      </div> <!-- end .row -->  
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-5 margin-top30">
                         <h3>C$ 178</h3>                
                          <button type="button" class="btn btn-default single-product-cart" aria-label="Left Align">
                            <img alt="img" src="assets/img/cart.jpg"> Add to Cart
                          </button>                  
                        </div>
                      </div> 
                    </div> <!-- end .modal-body -->
                  </div>
                </div>
              </div>
              </div>
          <!-- /Modal -->
     <!---->