<section id="H03">
    <div class="h03-menu pink-line-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="h03-menu-container">
                <ul id="" class="list-inline">
                  <li><a href=""><img src="assets/img/parties.png"></a></li>
                  <li><a href=""><img src="assets/img/holyday-events.png"></a></li>
                  <li><a href=""><img src="assets/img/anniversaries.png"></a></li>
                  <li><a href=""><img src="assets/img/grand-openings.png"></a></li>
                  <li><a href=""><img src="assets/img/special-occasions.png"></a></li>
                  <li><a href=""><img src="assets/img/corporate-events.png"></a></li>
                  <li><a href=""><img src="assets/img/breakfast-brunch.png"></a></li>                                    
                </ul>            
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End .h03-menu-bg -->
  </section>
  <!-- End #H03 -->
 

  <section id="content">
    <div class="content content-catering">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
              <!-- Start border#1 style -->
              <div class="border-title1bg">
                <h4>social</h4>
              </div>
              <div class="border-style">
                <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                <div class="middle-left"></div><div class="middle-middle">
                <p>
               Food is among the joys of life, so why to compromise as long as we can have the best! We at Passion for Dessert offer catering services that make food a real joy and keeps every event memorable! Whether it is a social event, birthday, engagement, wedding, farewell, graduation celebrations, happy hours, corporation events, and much more. Our versatility, professionalism, creativity and – of course – our excellent food makes us the perfect choice to cater your next social gathering or celebratory event. We will work with you to make sure the theme matches the ideas you have, and we share with you the best ideas to make your event one of its kind! Contact us today to start planning your next event!
                </p>
                </div><div class="middle-right"></div>
                <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
              </div>
              <div class="border-footer"></div>              
              <!-- End border#1 style -->           
          </div>
          <div class="col-lg-5  col-md-6 margin-top30">
              <!-- Start border#1 style -->
              <div class="border-title1bg">
                <h4>Menus</h4>
              </div>
              <div class="border-style">
                <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                <div class="middle-left middle-left-dynamic"></div><div class="middle-middle middle-middle-dynamic">
                  <div id="second-menu">
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Non vegetarian Appetizers<span class="pull-right"><i class="fa fa-plus-circle"></i></span></a></h4>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal1">Vegetarian Appetizers<span class="pull-right"><i class="fa fa-plus-circle"></i></span></a></h4>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal2">Salads<span class="pull-right"><i class="fa fa-plus-circle"></i></span></a></h4>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal3">Desserts<span class="pull-right"><i class="fa fa-plus-circle"></i></span></a></h4>
                  </div> <!-- end #second-menu -->
                </div><div class="middle-right"></div>
                <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
              </div>
              <div class="border-footer"></div>              
              <!-- End border#1 style -->            
          </div>          
        </div>
      </div>
    </div>    
  </section>

  <!-- End #content -->
     

  <!-- Start Second Menu Modal Content -->
    <!-- Modal -->
    <div id="passion-modal">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content padding-left50">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body passion-modal">
                <!-- Start border#1 style -->
                <div class="border-title1bg title-white-bg testimonial-title title-white-bg-350">
                  <h4>non vegetarian appetizers</h4>
                </div>
                <div class="border-style">
                  <div class="top-left">
                  </div>
                  <div class="top-middle">
                  </div>
                  <div class="top-right">
                  </div>
                  <div class="middle-left2">
                  </div>
                  <div class="middle-middle2">
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="second-menu-modal text-center">
                            <h5>Cheesy Turkey Bites</h5>
                            <p>house-made tomato salsa, tortilla chips</p>
                            <h5>SPINACH AND ARTICHOKE DIP</h5>
                            <p>tortila chips</p>
                            <h5>CHIPS AND SALSA</h5>
                            <p>house-made tomato salsa, tortilla chips</p>
                            <h5>SPINACH AND ARTICHOKE DIP</h5>
                            <p>tortila chips</p>
                            <h5>CHIPS AND SALSA</h5>
                            <p>house-made tomato salsa, tortilla chips</p>
                            <h5>SPINACH AND ARTICHOKE DIP</h5>
                            <p>tortila chips</p>
                            <h5>CHIPS AND SALSA</h5>
                            <p>house-made tomato salsa, tortilla chips</p>
                            <h5>SPINACH AND ARTICHOKE DIP</h5>
                            <p>tortila chips</p>  
                            <a href="#" class="btn btn-color" data-toggle="modal" data-target="#offerModal">offer request</a>
                          </div> 
                          <p style="max-height:0px; overflow:hidden"><!-- This para should be placed here to be wrok the template properly. --> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                                                                 
                      </div>
                  </div>
                </div>
                <div class="middle-right2">
                </div>
                <div class="bottom-left">
                </div>
                <div class="bottom-middle2">
                </div>
                <div class="bottom-right">
                </div>
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->
            </div>
          </div>
        </div>
      </div> 
      <!-- /Modal -->                     
    <!-- /End Sescond Menu Modal Content -->


    <!-- Start First Menu Modal Content -->
    <!-- Modal -->
    <div id="passion-modal1">
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content padding-left50">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body passion-modal">
                <!-- Start border#1 style -->
                <div class="border-title1bg title-white-bg testimonial-title title-white-bg-350">
                  <h4>Vegetarian Appetizers</h4>
                </div>
                <div class="border-style">
                  <div class="top-left">
                  </div>
                  <div class="top-middle">
                  </div>
                  <div class="top-right">
                  </div>
                  <div class="middle-left2">
                  </div>
                  <div class="middle-middle2">
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="second-menu-modal text-center">
                           <h5>Apple, Almond & Cashew Wraps</h5>
                            <p> Our Special wraps with apple, almond and cashew tossed with nuts </p>
                            <h5>Sweet Potato Boats</h5>
                            <p>  </p>
                            <h5>Veggie Roll-Up  </h5>
                            <p>   </p>
                            <h5>Tabouleh </h5>
                            <p>  Our spicial Tabouleh with tomatoes, green onions, parsley, fresh mint, tossed with lemon, burgol and olive oil</p>
                            <h5>Fattoush</h5>
                            <p>  Our special fattoush is rich in cucumber, tomatoes, lettuce, green onions, parsley, fresh mint, green bell pepper, radish, tossed with sumac, lemon, garlic and olive oil</p>
                            <h5>Fatayyer</h5>
                            <p> Our healthy fatayyer with wheat flour dough having no yeast inside : Za3tar, Spinache, Ba2le, Luttese </p>
                            <h5>Homos</h5>
                             <h5>Baba Ghanouj</h5>
                             <h5>Warak Enab(Grape Leaves) wraps</h5>
                             <p> Our juicy Warak Enab with combination of tomatoes, green onions, parsley, fresh mint, rice , lemon and olive oil</p>
                            
                            <a href="#" class="btn btn-color" data-toggle="modal" data-target="#offerModal">offer request</a>
                          </div> 
                          <p style="max-height:0px; overflow:hidden"><!-- This para should be placed here to be wrok the template properly. --> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                                                                 
                      </div>
                  </div>
                </div>
                <div class="middle-right2">
                </div>
                <div class="bottom-left">
                </div>
                <div class="bottom-middle2">
                </div>
                <div class="bottom-right">
                </div>
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->
            </div>
          </div>
        </div>
      </div> 
      <!-- /Modal -->                     
    <!-- /End third Menu Modal Content -->


    <!-- Start 3rd Menu Modal Content -->
    <!-- Modal -->
    <div id="passion-modal2">
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content padding-left50">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body passion-modal">
                <!-- Start border#1 style -->
                <div class="border-title1bg title-white-bg testimonial-title title-white-bg-350">
                  <h4>Salads</h4>
                </div>
                <div class="border-style">
                  <div class="top-left">
                  </div>
                  <div class="top-middle">
                  </div>
                  <div class="top-right">
                  </div>
                  <div class="middle-left2">
                  </div>
                  <div class="middle-middle2">
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="second-menu-modal text-center">
                           <h5>Our Special Ultimate Salad</h5>
                            <p> Our Special Ultimate Salad tossed with green & red onion, lemon, white & red cabbage, lettuce, tomato, black olives, tossed with cheddar cheese and baby </p>
                            <h5>Shrimp Salad</h5>
                            <p>   Shrimp salad tossed with celery, green onion, lemon, dill, lettuce & tomato on multi-grain sliced bread</p>
                            <h5>Mediterranean Chicken Salad </h5>
                            <p>   chicken salad tossed with celery, grapes, toasted pine nuts, mozzarella cheese & red leaf lettuce </p>
                            <h5>Mediterranean Tuna Salad</h5>
                            <p>   Tuna Salad tossed with lettuce, tomatoes, onion, cucumber, capsicum, feta, olives and oregano, vinger & pepper</p>
                            <h5>Broccoli Salad</h5>
                            <p>  Broccoli salad tossed with broccoli pieces, red onion, cheddar cheese, cherry tomatoes, walnut & raisins</p>
                            <h5>Strawberry and Avocado Spinach Salad</h5>
                            <p>   Strawberry and Avocado Spinach Salad tossed with baby spinach, strawberries, avocado , fresh peas ,blue cheese, honey, vineger and olive oil</p>
                            <h5>Salad Nicoise</h5>
                            <p>   Mixed greens with tuna salad, olives, tomato, egg & capers</p>
                            
                            <a href="#" class="btn btn-color" data-toggle="modal" data-target="#offerModal">offer request</a>
                          </div> 
                          <p style="max-height:0px; overflow:hidden"><!-- This para should be placed here to be wrok the template properly. --> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                                                                 
                      </div>
                  </div>
                </div>
                <div class="middle-right2">
                </div>
                <div class="bottom-left">
                </div>
                <div class="bottom-middle2">
                </div>
                <div class="bottom-right">
                </div>
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->
            </div>
          </div>
        </div>
      </div> 
      <!-- /Modal -->                     
    <!-- /End third Menu Modal Content -->


    <!-- Start 3rd Menu Modal Content -->
    <!-- Modal -->
    <div id="passion-modal3">
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content padding-left50">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body passion-modal">
                <!-- Start border#1 style -->
                <div class="border-title1bg title-white-bg testimonial-title title-white-bg-350">
                  <h4>Desserts</h4>
                </div>
                <div class="border-style">
                  <div class="top-left">
                  </div>
                  <div class="top-middle">
                  </div>
                  <div class="top-right">
                  </div>
                  <div class="middle-left2">
                  </div>
                  <div class="middle-middle2">
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="second-menu-modal text-center">
                           <h5>Coconut Chocolate-chip Cookies</h5>
                            <p>Our spical Coconut Oatmeal Chocolate-chip Cookies rich in coconut, oatmeal, wheat flour and chocolate-chip and brown sugar</p>
                            <h5>Chocolate-chip Cookies</h5>
                            <p> Healthy Warm Chocolate Chip Walnut Cookies </p>
                            <h5>Square Dates(No Added Sugar)</h5>
                            <p> Oatmeal with dates, no added sugar   </p>
                            <h5>FruitBar(No Added Sugar)</h5>
                            <p>  Our healthy fruitbar is rich in date, fig, apricots, cranberry and nuts, wheat flour. no added sugar </p>
                            <h5>Mini Tart</h5>
                            <p>  </p>
                            <h5>Mini Muffin</h5>
                            <p> Our Muffins are filled with delicious healthy ingredients of Passion for Dessert flavors such as, brown sugar, wheat flour, canola oil... </p>
                            <h5>Mini Cupcakes</h5>
                            <p>  </p>
                            <h5>Brownies Mini/Pop</h5>
                            <p>  </p>
                            <h5>Pistachio Cookies(Gluten Free)</h5>
                            <p> Our gluten free high protein Almond Pistachio and cranberry Cookies </p>
                            <h5>Chocolate sqaure cake(Gluten Free)</h5>
                            <p>Our gluten free chocolate cake is rich in high quality of chocolate, butter,brown sugar , eggs and almonds flour</p>
                         <!--   <h5> Chocolate Almond Torte(Gluten Free)</h5>
                            <p>  </p>-->
                           
                            <!-- <a href="#" class="btn btn-color" data-toggle="modal" data-target="#offerModal">offer request</a> -->

                          </div> 
                          <p style="max-height:0px; overflow:hidden"><!-- This para should be placed here to be wrok the template properly. --> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                                                                 
                      </div>
                  </div>
                </div>
                <div class="middle-right2">
                </div>
                <div class="bottom-left">
                </div>
                <div class="bottom-middle2">
                </div>
                <div class="bottom-right">
                </div>
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->
            </div>
          </div>
        </div>
      </div> 
      <!-- /Modal -->                     
    <!-- /End third Menu Modal Content -->


    <!-- Offer Modal -->
    <div id="passion-modal4">
        <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content padding-left50">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body passion-modal">
                <!-- Start border#1 style -->
                <div class="border-title1bg title-white-bg testimonial-title">
                  <h4>Offer Form</h4>
                </div>
                <div class="border-style">
                  <div class="top-left">
                  </div>
                  <div class="top-middle">
                  </div>
                  <div class="top-right">
                  </div>
                  <div class="middle-left-offer">
                  </div>
                  <div class="middle-middle-offer">
                    <div class="row">
                      <div class="col-lg-12">
                        <p>
                          Please complete and submit the form below to receive a quotation for your request. Please bear in mind the number of guests you would like to feed as this will influence the size of the cake. If you would like to add any more information on your design or if you have any questions, please use the description box.
                        </p>
                        <hr/>
                      </div>
                      <hr/>
                      <div class="col-lg-6">
                      <form>
                        <div class="form-horizontal">
                          <div class="form-group">
                            <label for="inputName" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtName" placeholder="Name" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Email *</label>
                            <div class="col-sm-8">
                   
  
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputCountry" class="col-sm-4 control-label">Phone</label>
                            <div class="col-sm-8">
                                   <input type="text" class="form-control" id="txtPhone" placeholder="Phone" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEvent" class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtAddress" placeholder="Address" runat="server">
                            </div>
                          </div>
                        </div>
                      
                      <div class="col-lg-6">
                        <div class="form-horizontal">
                          <div class="form-group">
                            <label for="inputName" class="col-sm-4 control-label">I am interested in</label>
                            <div class="col-sm-8">
                          <input type="text" class="form-control" id="txtInterested" placeholder="interested" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Event</label>
                            <div class="col-sm-8">
                           <input type="text" class="form-control" id="txtEvent" placeholder="Event" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputCountry" class="col-sm-4 control-label">Phone</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="txtEventPhone" placeholder="Phone" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEvent" class="col-sm-4 control-label">Date of Event</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="txtDateOfEvent" placeholder="Date" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEvent" class="col-sm-4 control-label">Number of guests</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="txtNoOfGuest" placeholder="Guest" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEvent" class="col-sm-4 control-label">Subject</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="txtSubject" placeholder="Subject" runat="server">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputMessage" class="col-sm-4 control-label">Message</label>
                            <div class="col-sm-8">
                             
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-8">
                             
                            </div>
                          </div>
                        </div>
                      
                    </div>
                    <!-- end .col -->
                  
                
                <div class="middle-right-offer">
                </div>
                <div class="bottom-left">
                </div>
                <div class="bottom-middle">
                </div>
                <div class="bottom-right">
                </div>
             
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->
      <!-- /Offer Modal --> 
