<section id="overview" class="pink-line-bg">
    <div class="container content overview">
      <div class="row">
        <div class="col-lg-10 col-md-12 col-lg-offset-1">
              <!-- Start border#1 pink style -->
              <div class="border-title1bg-pink">
                <h4>OverView</h4>
              </div>
              <div class="border-style">
                <div class="top-left-pink"></div><div class="top-middle-pink"></div><div class="top-right-pink"></div>
                <div class="middle-left-pink"></div><div class="middle-middle-pink">

                <p>Passion for Dessert is a homemade cooking business, operated in Lebanon, Beirut. 
                    I started Passion for Dessert in November of 2001 with one goal in mind, to make people who are passionate about dessert happy.
                     I started with traditional homemade recipes of cakes, cookies and muffins that were asked for by family, close friends and neighbors who in turn encouraged me to go for more and to present my recipes to others. 
                    So at a later stage I participated in exhibitions and fairs. When my recipes had a great impact on its tasters, I believed that I shall have an outlet for Passion for Dessert ,and I thought of having this family business established and the first step in this one thousand mile journey starts here in my website www.passionfordessert.net </p>


                </div><div class="middle-right-pink"></div>
                <div class="bottom-left-pink"></div><div class="bottom-middle-pink"></div><div class="bottom-right-pink"></div>                
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 pink style -->          
        </div>        
      </div> <!-- End .row -->
        <div class="row">
          <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
              <!-- Start border#1 style -->
              <div class="border-style">
                <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                <div class="middle-left"></div><div class="middle-middle">
                  <h4>My Mission </h4>
                  <p>To provide the optimum fresh-baked gifts and desserts for all of life's moments, delivered with warmth and backed by my guarantee of excellence, and to let others know the real taste of what a dessert are.</p> 
                  <h4>My Vision</h4>
                  <p>To produce the most healthy, original, creative and delicious dessert flavor for any occasion. </p>
                  <h4>Special Thanks: </h4>
                  <p>I would like to thank my whole family, especially my husband Chadi for his help and support in making my dream 
                  "Passion for Dessert" come true!</p>
                </div><div class="middle-right"></div>
                <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->           
          </div>
          <div class="col-lg-5  col-md-6 margin-top30">
              <!-- Start border#1 style -->
              <div class="border-style">
                <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                <div class="middle-left"></div><div class="middle-middle">
                  <h4>My Promise</h4>
                  As my customer, I promise you: 
                  <ul>
                  <li>Delicious desserts and fresh-baked goods.</li>
                  <li>Always the highest quality standards.</li>
                  <li>Friendly service focused on excellence.</li>
                  <li>Trustworthy, dependable products and services.</li>
                  <li>Unique gift ideas and exclusive packaging.</li>
                  <li>The strongest guarantee in the business.</li>
                  </ul>
                </div><div class="middle-right"></div>
                <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style -->            
          </div>          
        </div> <!-- end .row -->     
    </div>
  </section>
  <!-- End #H03 -->
  <section id="content">
  </section>
  <!-- End #content -->