

        <h1  mat-dialog-title>

        <!-- <button type="button" (click)="close()"
        ><span aria-hidden="true">&times;</span></button> -->

        {{productData.productName}}
        </h1>
   

<mat-dialog-content >

    <div class="row">
       
        <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
            <p innerHtml="{{ productData.productDesc | breakFilter }}"></p>

            <h3> C${{productData.productPrice}}</h3> 

            </div>


            <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
                <img src="{{ homePath + productData.productImage}}" alt="img11"/>
                </div>

            </div>

        

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button class="btn btn-color"  style="color: white;visibility: hidden;" mat-button (click)="addToCart()">Add to Cart</button>
    <button class="btn btn-color" style="color: white" mat-button (click)="close()">Close</button>
  </mat-dialog-actions>