<!-- <mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a mat-list-item
      routerLink="/dashboard">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    <a  mat-list-item
        type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Material Blog
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a>
                  <mat-icon class="icon">input</mat-icon>
                  <span  class="label">Login</span>
                 </a>
            </li>
            <li>
              <a
                routerLink="/">
                  <mat-icon class="icon">home</mat-icon>
                  <span class="label">Home</span>
              </a>
            </li>
            <li>
                <a
                  routerLink="/dashboard">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">Dashboard</span>
                </a>
              </li>
            <li>
                <a>
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">LogOut</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="wrapper">
  <header id="header"  *ngIf="router.url !== '/menu' && router.url !== '/user'">
    <div id="logo">
      <a href="/"><img src="assets/img/logo.png" alt="logo"></a>
    </div>  
    <div class="main-menu">
      <div class="container w90">
          <div class="row">
               <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <!-- Static navbar -->
                <div class="navbar" role="navigation">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Project name</a> -->
                  </div>
                  <div class="navbar-collapse collapse">
                    <!-- Right nav -->
                    <ul class="nav navbar-nav navbar-right">
                      <li><a id="home" href="/">Home</a></li>

                      <!-- <li><a  [ngClass]="{'rotate': toggle}" (click)="test($event);">click me</a></li> -->

                      <li id="dessert1" ><a id="dessert" (click)="test($event);" [ngClass]="{'rotate': toggle}" href="/products">Product</a></li>
                      <li id="catering1"><a id="catering" href="/catering">Catering</a></li>
                      <!-- <li id="events"><a href="/events">News & Events</a></li> -->
                      <li ><a id="aboutus" href="/aboutus">About</a></li>
                      <li ><a id="contactus" href="/contactus">Contact</a></li> 
                      
                      <!-- <li><h1>({{calcTotal()}})</h1></li> -->
                      <!-- <li><h1> {{carts}}</h1></li> -->
                    </ul>

                      <!-- <ul class="nav navbar-nav navbar-right">
                      <li id="home"><a [routerLink]="['/home']">Home</a></li>
                      <li id="dessert"><a [routerLink]="['/products']">Product</a></li>
                      
                      <li id="catering" ><a href="/catering">Catering</a></li>
                      <li id="events"><a  href="/events">News & Events</a></li>
                      <li id="aboutus"><a  href="/aboutus">About</a></li>
                      <li id="contactus"><a href="/contactus">Contact</a></li>    
                    </ul> -->

                  </div>
                  <!--/.nav-collapse -->
                </div>              
              </div>
          </div>
      </div>      
    </div> <!-- End .main-menu -->
    <div id="header-bg">
    </div>
  </header>
  <!-- End header -->
  <router-outlet></router-outlet>

  <footer id="sticky-footer-space">
    <!-- This space is for sticky *Required*-->
  </footer>  
  <footer id="footer" *ngIf="router.url !== '/menu' && router.url !== '/user'">
     <div class="container w100">
        <div class="row">
            <div class="col-lg-6 col-md-3 col-xs-12 col-sm-3">
              DESIGN BY <b>MILANA</b>
                <!-- DESIGN BY <b>MILANA</b><img src="assets/img/designby.png"> -->
            </div>
            <div class="col-lg-6 col-md-9 col-xs-12 col-sm-9">
              <div class="footer-social text-right">
                
                <!-- <ul id="footer-links" class="list-inline">
                  <li><span>|</span><a href="#" data-toggle="modal" data-target="#offerModal">OFFER REQUEST</a></li>
                  <li><span>|</span><a href="Faq.aspx">FAQ</a></li>
                  <li><span>|</span><a href="Testimonials.aspx">TESTIMONIALS</a><span>|</span></li>
                </ul>  -->

                <ul id="social-links" class="list-inline">
                  <li><a href="https://www.facebook.com/Passion4D" target="_blank"><img src="assets/img/facebook.png" alt="Facebook"/></a></li>
                  <li><a href="http://pinterest.com/passion4d/" target="_blank"><img src="assets/img/pinterest.png" alt="Pinterest"/></a></li>
                  <li><a href="http://instagram.com/passion4d" target="_blank"><img src="assets/img/instagram.png" alt="Instagram"/></a></li>
                </ul>                 
              </div>                     
            </div>
        </div>
    </div>
  </footer>
  <!-- End footer -->

    </div>