<section id="contact-us" class="gray-line-bg">
    <div class="container content-pink">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-lg-offset-1 margin-top30">
              <!-- Start border#1 style -->
              <div class="border-title1bg title-white-bg">
                <h4>Contact Us</h4>
              </div>
              <div class="border-style">
                <div class="top-left"></div><div class="top-middle"></div><div class="top-right"></div>
                <div class="middle-left"></div><div class="middle-middle">

                <p><br/>Thank you for your interest in Passion for Dessert
                  <br/><br/>We can be reached by phone at 226 219 7708. 
                  <br/><br/>We always try to answer every call personally. 
                  <br/><br/>We appreciate your patience. We will return your call within 24 hours. </p><br/>


                </div><div class="middle-right"></div>
                <div class="bottom-left"></div><div class="bottom-middle"></div><div class="bottom-right"></div>                
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 style --> 
              <div class="contact-us-footer">
                <h5>home made dessert</h5>
                <h1>Where you can find the real taste</h1>                
              </div>
          </div>
          <div class="col-lg-5  col-md-6 margin-top30" style="visibility:hidden">
              <!-- Start border#1 pink style -->
              <div class="border-title1bg-pink border-title1bg-pink-double">
                <h4>Contact Form</h4>
              </div>
              <div class="border-style">
                <div class="top-left-pink"></div><div class="top-middle-pink border-pink-double"></div><div class="top-right-pink"></div>
                <div class="middle-left-pink"></div><div class="middle-middle-pink border-pink-double">
                  <p>For your inqueries please send us an email, by filling the bellow data.</p>
                    <form id="contact-form" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>                    
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputCountry" class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputCountry" placeholder="Country">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="inputEvent" class="col-sm-2 control-label">Event</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputEvent" placeholder="Event">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputSubject" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                        </div>
                      </div>                                                                   
                      <div class="form-group">
                        <label for="inputMessage" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                      </div>                       
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default pull-right submit">Send</button>
                        </div>
                      </div>
                    </form>
                </div><div class="middle-right-pink"></div>
                <div class="bottom-left-pink"></div><div class="bottom-middle-pink border-pink-double"></div><div class="bottom-right-pink"></div>                
              </div>
              <!-- <div class="border-footer"></div>               -->
              <!-- End border#1 pink style --> 
           
          </div>          
        </div>    
    </div>
  </section>
  <!-- End #contact-us -->