.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .center {
    text-align: center;
    margin-top: 10px; /* Adjust the value to control the vertical spacing from the top */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    width: 400px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 80px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px; 
  }
  
  button[type="button"] {
    background-color: #00c3ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    justify-content: right;
  }


  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .button-group button {
    margin-left: 50px; /* Adjust the value to control the spacing between buttons */
  }
  
  .reset-button {
    margin-left: 0; /* Reset the margin on the reset button */
  }
  